---
name: "Unit tests and builds"
on:
  push:
    branches: ['**']
  release:
    types: [prereleased, released]
env:
  TESTING_IMAGE_NAME: geospaas_rest_api_tests
  GEOSPAAS_PROCESSING_VERSION: 3.1.0
  GEOSPAAS_HARVESTING_VERSION: 3.8.0
  METANORM_VERSION: 4.1.2
jobs:
  tests:
    name: Run unit tests and build package
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        python_version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build testing image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: ${{ env.TESTING_IMAGE_NAME }}
          build-args: |
            BASE_IMAGE=${{ vars.DOCKER_ORG }}/geospaas:latest-python${{ matrix.python_version }}
            GEOSPAAS_PROCESSING_VERSION=${{ env.GEOSPAAS_PROCESSING_VERSION }}
            GEOSPAAS_HARVESTING_VERSION=${{ env.GEOSPAAS_HARVESTING_VERSION }}
            METANORM_VERSION=${{ env.METANORM_VERSION }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: 'Run tests'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
             docker run --rm
             -v "$(pwd):/src"
             -e "GITHUB_ACTIONS=$GITHUB_ACTIONS"
             -e "GITHUB_REF=$GITHUB_REF"
             -e "GITHUB_SHA=$GITHUB_SHA"
             -e "GITHUB_HEAD_REF=$GITHUB_HEAD_REF"
             -e "GITHUB_REPOSITORY=$GITHUB_REPOSITORY"
             -e "GITHUB_RUN_ID=$GITHUB_RUN_ID"
             -e "GITHUB_TOKEN=$GITHUB_TOKEN"
             "${TESTING_IMAGE_NAME}"
             bash -c "coverage run --source=./geospaas_rest_api
             --omit='geospaas_rest_api/tests/*'
             runtests.py"

      - name: 'Install Python 3.11'
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 'Upload coverage to coveralls.io'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pip install coveralls && coveralls --service=github


  publish_python_package:
    name: Build Python package and publish it as a release artifact
    runs-on: 'ubuntu-latest'
    needs: 'tests'
    if: ${{ github.event_name == 'release' }}
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Install Python 3.11'
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 'Build Python package'
        env:
          GEOSPAAS_REST_API_RELEASE: ${{ github.ref_name }}
        run: >
          pip install wheel &&
          python setup.py sdist bdist_wheel

      - name: 'Deploy package to the Github release'
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: 'dist/*'
          file_glob: true
          tag: ${{ github.ref }}
...